@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Encode+Sans+Condensed:wght@300&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* font-family: 'Amatic SC', cursive;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Syncopate', sans-serif; */

.header {
    display: flex;
    justify-content: space-between;
    margin: -1vh 3vh;
}

.header img {
    width: 6vh;
}

.header h1 {
    font-size: 2rem;
    margin-left: 4vw;
}

.name {
    margin-top: -2vh;
    font-family: 'Encode Sans Condensed', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 1.3rem;
    text-decoration: overline;
}

.logOutBtn {
    position: fixed;
    bottom: 3vh;
    left: 20vh;
}

.takePictureBtn {
    margin-top: 6vh;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    color: white;
    background-color: #904949;
}

.noImg {
    color: white;
    margin-top: 35vh;
    font-family: 'Encode Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.afterPicTaken {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.afterPicTaken button {
    font-weight: 500;
    border-radius: 2px;
    height: 36px;
    font-size: 14px;
    color: #ffffff;
    background-color: #356c71;
}

.takePictureBtn {
    margin-top: 6vh;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    color: white;
    background-color: #904949;
}



.pictureWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.allPictures {
    flex: 1 1;
}

.oneImg {
    width: 36vw;
    border-radius: 4px;
    margin-top: 3vh;
}

.smallPictures {
    display: flex;
    justify-content: center;
}


.logOutBtn {
    position: fixed;
    bottom: 3vh;
    left: 20vh;
}

.camera {
    width: 89vw;
    border-radius: 5px;
}

.pictureToggle {
    display: flex;
    justify-content: center;
}

.pictureToggle p {
    color: white;
}

.pictureToggle .pictureLarge {
    width: 84vw;
    border-radius: 4px;
}

.trashCan {
    width: 4vh;
}

.trashContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 11vh;
}

.noBtns {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 25vh;
}

.trashContainer h4,
.noBtns h4 {
    font-size: 2rem;
    color: white;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.largeImg {
    display: flex;
    justify-content: center;
}

.toggleBtns {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
}

.tookPicture {
    margin: 1vh;
    font-size: 19px;
    font-family: 'Syncopate', sans-serif;
}

.noImg {
    color: white;
    margin-top: 35vh;
    font-family: 'Encode Sans Condensed', sans-serif;
    letter-spacing: 5px;
}

.takePictureBtn {
    margin-top: 6vh;
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    color: white;
    background-color: #904949;
}

.afterPicTaken {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.afterPicTaken button {
    font-weight: 500;
    border-radius: 2px;
    height: 36px;
    font-size: 14px;
    color: #ffffff;
    background-color: #356c71;
}

video {
    border-radius: 5px;
}